* {
    font-family: Arial,sans-serif;
}

body {
    background-color: #6F9387;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

.text-label {
    width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.styled-btn {
    background-color: #93876f;
    border: 1px solid black;
    padding: 5px 0px;
    width: 175px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

    .styled-btn:hover {
        cursor: pointer;
        background-color: #4CAF70;
        color: black;
    }

.error-text {
    color: #c00;
    font-weight: 400;
    font-size: 18px;
}

.text-input {
    display: flex;
    align-items: center;
    width: 175px;
}

.flex-row {
    display: flex;
    width: 375px;
    align-items: center;
    justify-content: space-between;
}

.text-input-registration {
    display: flex;
    align-items: center;
    width: 230px;
}

.styled-btn-master {
    background-color: #ccdedc;
    border: 1px solid #4974a5;
    padding: 5px 0px;
    width: 170px;
    color: #4974a5;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

    .styled-btn-master:hover {
        cursor: pointer;
        background-color: #DEDCCC;
        color: #7a49a5;
    }

.nav-links-container {
    display: flex;
    column-gap: 2px;
    justify-content: center;
}

.email-label {
    background: darkcyan;
    padding: 5.3px;
    border: 1px solid;
}

.styled-btn-delete {
    background-color: #93876f;
    border: 1px solid black;
    padding: 5px 0px;
    width: 175px;
    color: darkred;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

    .styled-btn-delete:hover {
        cursor: pointer;
        background-color: #936f7b;
        color: black;
    }

.shipping-image {
    position: absolute;
    top: 60px;
    left: 595px;
    font-size: 20px;
    font-weight: bolder;
    background: #ba1c3c;
    color: white;
    padding: 2px 10px;
}